<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>design template our </title>
    <!-- design file css style  -->
     <link rel="stylesheet" href="/css/style.css">

</head>
<body>

    <div class="container">
        

         <!-- star main  -->
         <main>

             <!-- star header -->
            <header>

                <div class="logo">
                    <img src="../image/download.png" alt="" srcset="">
                </div>
                <nav>
                    
                  
                    <ul>
                        <li>الرئيسية </li>
                        <li>الخدمات  </li>
                        <li>التواصل  </li>
                        <li>الشركة  </li>
                          
                       </ul>
                       <form action="" method="post">
                        
                       <input type="text" value=" " class="search" aria-label="search">
                       <label for=""> البحث</label>

                       </form>
                                 

                </nav>
            </header>
            <!-- end header -->
             <!-- star content  -->
             <div class="content">

                <!-- star section -->
                 <section>
                    <div class="products">
                       <div class="product">
                        <img src="../image/download.jfif" alt="product " srcset="">
                        <span>css book</span>
                        
                       </div>
                    </div>
                    <div class="products">
                        <div class="product">
                         <img src="../image/download.jfif" alt="product " srcset="">
                         <span>css book</span>
                         
                        </div>
                     </div>
                     <div class="products">
                        <div class="product">
                         <img src="../image/download.jfif" alt="product " srcset="">
                         <span>css book</span>
                         
                        </div>
                     </div>
                     <div class="products">
                        <div class="product">
                         <img src="../image/download.jfif" alt="product " srcset="">
                         <span>css book</span>
                         
                        </div>
                     </div>
                     <div class="products">
                        <div class="product">
                         <img src="../image/download.jfif" alt="product " srcset="">
                         <span>css book</span>
                         
                        </div>
                     </div>
                     <div class="products">
                         <div class="product">
                          <img src="../image/download.jfif" alt="product " srcset="">
                          <span>css book</span>
                          
                         </div>
                      </div>
                      <div class="products">
                         <div class="product">
                          <img src="../image/download.jfif" alt="product " srcset="">
                          <span>css book</span>
                          
                         </div>
                      </div>
                      <div class="products">
                         <div class="product">
                          <img src="../image/download.jfif" alt="product " srcset="">
                          <span>css book</span>
                          
                         </div>
                      </div>
                    

                 </section>
                   <!-- end section  -->

                 <!-- star sider  -->
                 <div class="sider">
                    <!-- star widget -->
                    <div class="widget">
                    <span>    الاقسام </span>
                        <div class="data">
                            
                            <ul>
                                <li>الرئيسية </li>
                                <li>الخدمات  </li>
                                <li>التواصل  </li>
                                <li>الشركة  </li>
                               </ul>

                        </div>
                    </div>
                    <!-- end widget --> 
                     <!-- star widget -->
                    <div class="widget">
                        <span>    الاقسام </span>
                            <div class="data">
                                
                                <ul>
                                    <li>الرئيسية </li>
                                    <li>الخدمات  </li>
                                    <li>التواصل  </li>
                                    <li>الشركة  </li>
                                   </ul>
    
                            </div>
                        </div>
                        <!-- end widget -->
                         <!-- star widget -->
                    <div class="widget">
                        <span>    conect </span>
                            <div class="data">
                                
                                <ul>
                                    <li>الرئيسية </li>
                                    <li>الخدمات  </li>
                                    <li>التواصل  </li>
                                    <li>الشركة  </li>
                                   </ul>
    
                            </div>
                        </div>
                        <!-- end widget -->
<!-- star widget -->
<div class="widget">
    <span>    product </span>
        <div class="data">
            
            <ul>
                <li>الرئيسية </li>
                <li>الخدمات  </li>
                <li>التواصل  </li>
                <li>الشركة  </li>
               </ul>

        </div>
    </div>
    <!-- end widget -->

    <!-- star widget -->
    <div class="widget">
        <span>    الاقسام </span>
            <div class="data">
                
                <ul>
                    <li>الرئيسية </li>
                    <li>الخدمات  </li>
                    <li>التواصل  </li>
                    <li>الشركة  </li>
                   </ul>

            </div>
        </div>
        <!-- end widget -->


                 </div>
                 <!-- end sider -->
               
             </div>
             <!-- end content -->

            <!-- star footer  -->
            <footer>

                <div class="cont">
                   <h3>معلومات </h3>
                    <ul>
                        <li>الرئيسية </li>
                        <li>الخدمات  </li>
                        <li>التواصل  </li>
                        <li>الشركة  </li>
                       </ul>
                </div> 
                <div class="cont">
                    <h3>معلومات </h3>
                     <ul>
                         <li>الرئيسية </li>
                         <li>الخدمات  </li>
                         <li>التواصل  </li>
                         <li>الشركة  </li>
                        </ul>
                 </div>
                 <div class="cont">
                    <h3>معلومات </h3>
                     <ul>
                         <li>الرئيسية </li>
                         <li>الخدمات  </li>
                         <li>التواصل  </li>
                         <li>الشركة  </li>
                        </ul>
                 </div>
                <div class="copyright">جميع الحقوق الطابع  ونشر</div>
            </footer>
            <!-- end footer  -->
         </main>
         <!-- end main  --> 

       
    </div>

    <script src="/js/plugin.js"></script>
</body>
</html>